* {
    background-color: #E43A3A;
}

#homepage {
    font-family: 'Padauk', sans-serif;
}


body {
    margin-top: 3%;
    margin-left: 5%;
}

h1 {
    font-size: 3em;
    margin: 0px;
}

.circle {
    margin-top: 10%;
}

.categories {
    margin-top: 10%;
    font-size: 2em;
}

a.category {
    color: black;
}

    a.category:hover {
        font-weight: bold;
        color: black;
    }

footer {
    margin-top: 4em;
}

a.email {
    text-decoration: none;
    font-weight: bold;
    font-size: .9em;
    color: black;
}

    a.email:hover {
        color:  #E43A3A;
        background-color: black;
    }

a.social {
    text-decoration: none;
    font-size: .8em;
    color:black;
}   

    a.social:hover {
        text-decoration: underline;
        font-weight: normal;
    }